@media screen and (max-width: 736px) {
    html, body, div {
        padding: 0;
        margin: 0;
    }
    .site-header {
        width: 100vw;
        padding: 0 3vw;
        margin: 0;
        overflow: hidden;
        margin: 0;
    }
    .container {
        flex-direction: column;
        width: 100vw;
        padding: 0 3vw;
        margin: 0;
        overflow: hidden;
    }
    .container > * {
        width: 94vw;
        margin: 0;
    }
    .site-nav {
        flex-grow: 1;
        margin-bottom: 2em;
        order: 3;
    }
    .content {
        flex-grow: 1;
        margin-bottom: 3.5em;
        padding: 1em;
        order: 2;
    }
    .page-nav {
        flex-grow: 1;
        margin-bottom: 3.5em;
        order: 1;
    }
}
/* @media screen and (min-width: 900px) {
div#sidebar { width: 240px }
} */
