h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    padding-top: 0.5em;
    font-weight: bold;
}

h2 {
    padding-bottom: 0.6em;
    margin-bottom: 0.4em;
    border-bottom: 1px solid #aaa;
}

h3 {
    padding-bottom: 0.6em;
    border-bottom: 1px dashed #aaa;
}

p {
    font-size: 17px;
    line-height: 1.7em;
}

#created_at {
    color: #fff;
    background-color: #666;
    padding-left: 0.5em;
    border-radius: 3px;
}