* {
    box-sizing: border-box;
}

html, body, div {
    padding: 0;
    margin: 0;
}

/* Style */

body {
    font-family: sans-serif;
    color: #333;
    background-color: #f3f3f3cf;
    padding-bottom: 2em;
}

a {
    color: #28d
}

li {
    margin: 4px 0
}

.content-body > p,
.content-body > pre,
.content-body > code {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.content-body pre {
    font-size: 0.8em;
    padding: 8px;
    border-radius: 2px;
    background-color: #FEFEFE;
    border: 1px solid #DDD;
}

.content-body ul {
    margin-left: 0;
    padding: 0 0 0 1.2em;
}

.headerlink {
    display: none;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
    display: inline;
}

/* Layout */

.container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
}

.site-header {
    display: flex;
    justify-content: space-between;
    height: 2.5em;
    margin-bottom: 2em;
    padding: 0.3em 5vw;
    background-color: #FFF;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

.site-header h1 {
    font-size: 1.1em;
    padding-top: 4px;
    margin: 0;
}

.site-header .sns-share {
    padding-top: 6px;
}

.left-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 5.6em;
    flex-grow: 1;
    flex-shrink: 0;
    align-self: flex-start;
    flex-basis: 20%;
    background-color: #FFF;
    margin-right: 1em;
}

.left-nav ul {
    list-style: none;
}

.left-nav .most-deep-item > a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-nav .most-deep-item > a::before {
    content: "├";
    margin-right: 0.8em;
    display: inline-block;
}

.right-nav .most-deep-item:last-child > a::before {
    content: "└";
    margin-right: 0.8em;
    display: inline-block;
}

.left-nav ul ul li:hover {
    border-color: #696969;
}

.left-nav ul li a {
    display: block;
    width: 100%;
}

ul li a:hover {
    background-color: #ffeb3b4f;
}

.nav-layout {
    padding: 2em 1.2em;
    border-top: 3px solid #28d;
    border-bottom: 3px solid #28d;
    background-color: #FFF;
    font-size: 0.8em;
    overflow: hidden;
}

.left-nav ul {
    padding-left: 0;
}

.content {
    flex-grow: 3;
    position: relative;
    padding: 1.2em 2em;
    align-self: flex-start;
    flex-basis: 65%;
    background-color: #FFF;
    margin-right: 1em;
    border-top: 3px solid #28d;
    border-bottom: 3px solid #28d;
}

.content .content-body img {
    max-width: 100%;
}

.content-body h1:first-child {
    border-bottom: dotted 2px #29d;
    margin-bottom: 0.8em;
    padding-bottom: 0.2em;
}

.right-nav {
    flex-grow: 1;
    align-self: flex-start;
    flex-basis: 15%;
    max-height: 100vh;
    overflow: scroll;
}

.right-nav ul {
    list-style: none;
    padding: 0;
}

.right-nav ul > li:hover {
    border-color: #696969;
}

.right-nav ul li a {
    display: block;
    width: 100%;
}

.left-nav ul li a::before {
    content: "+";
    margin-right: 0.8em;
    display: inline-block;
}
