@media screen and (max-width: 1024px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .content {
        order: 1;
    }
    .right-nav {
        order: 2;
        position: unset;
        flex-shrink: 0;
    }
    .left-nav {
        order: 3;
        flex-shrink: 0;
        margin-top: 3em;
    }
}
