* {
  padding: 0;
  margin: 0;
  font-size: 1em;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.2em;
}

ul, ol {
  margin-left: 2em;
  margin-bottom: 1.2em;
}

p, pre {
  margin-bottom: 1.5em;
}

pre[class*="language-"] {
  font-size: 0.75em;
  margin-bottom: 1em;
  border: 1px solid #cccccc;
}

#nav-bar {
  height: 38px;
  color: #ffffff;
  font-size: 1em;
  background: #1d4b90;
  padding: 0 5% 0 5%;
}

#nav-bar-container {
  max-width: 1000px;
  margin: 0 auto;
}

#nav-bar a {
  height: 38px;
  width: 4em;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  padding-top: 0.6em;
  font-family: Avenir;
}

#site-header {
  min-height: 6em; /* > 0.8 L 1 + 1 */
  color: #FFF;
  background-color: rgb(68, 68, 68);
  padding: 0.6em 5% 0.6em 5%;
}

#site-header-container {
  max-width: 960px;
  margin: 0 auto;
}

#page-title {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

#page-description {
  font-size: 0.9em;
  margin: 0;
  margin-bottom: 0.6em;
}

#article-time {
  text-align: right;
  font-size: 0.8em;
  margin: 0;
}

#posted-at__label {
  margin-right: 0.5em;
}

#created-at__label {
  margin-left: 1.5em;
  margin-right: 0.5em;
}

.wrapper {
  width: 86%;
  max-width: 960px;
  padding-top: 2em;
  margin: 0 auto 5em auto;
}

.wrapper img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

#post-articles {
  border: 1px solid #333;
  border-collapse: collapse;
  width: 100%;
}

#post-articles td {
  padding: 0.2em;
}

#post-articles thead tr td {
  border-bottom: 1px solid #333;
  background-color: #F3F3F3;
}

#post-articles tbody tr:nth-child(2n) {
  background-color: #F3F3F3;
}

li p {
  margin-bottom: 0.2em;
}