<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ config.site_name }}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/prism.css">
</head>

<body>
    <div class="container">
        <div class="site-nav">
            <h2>サイト内のトピック</h2>
            {% include "site_nav.html" %}
        </div>
        <div class="content">
            {%- block content %}
            {%- endblock %}
        </div>
        <div class="page-nav">
            <h2>ページ内の目次</h2>
            {% include "page_nav.html" %}
        </div>
    </div>
    <script src="/prism.js"></script>
    <script src="/mermaid.min.js"></script>
</body>

</html>