name: Build & Test

on:
  pull_request:
    branches: ["*"]

jobs:
  checks:
    if: github.event_name != 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Test Build
        run: |
          yarn install --frozen-lockfile
          yarn build
